.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(#ff4500, #ff4500, rgba(0, 0, 0, 0));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.3s ease;
  cursor: pointer;
  transform: translateY(100%);
}

.scrollToTop.active {
  opacity: 1;
  transform: translateY(0);
}

.scrollToTop img {
  width: 24px;
  height: 17px;
}
